@if(banner == "1"){
<div class="banner"
    style="padding: 10px; background-color: #ff3d57;color: white;text-align: center;position: relative;">
    PMA Mobile is now available. Download it
    <a href="https://drive.google.com/file/d/1ev5yBtnL0CvOUPF4zzf18Mrk17lFb9rd/view?usp=sharing"
        style="text-decoration: none; color: white;font-weight: bold;">here</a> :
    <span style="position: absolute;top: 0;right: 0;padding: 10px;cursor: pointer;" (click)="closeBanner()">X</span>

</div>
}
<router-outlet></router-outlet>