.weight-label{
    position: absolute;
    top: 1.5rem;
    right: -4rem;
    background-color: #8BC6EC;
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    transform: rotate(45deg);
    padding: 0.4rem 5rem;
    color: white;
    font-weight: bold;
}