<mat-toolbar class="topbar">
  <!-- --------------------------------------------------------------- -->
  <!-- Desktop Menu -->
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!--  Search -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button (click)="openDialog()" class="d-flex justify-content-center">
    <i-tabler name="search" class="icon-20 d-flex"></i-tabler>
  </button>

  <div class="d-none d-lg-flex">
    <!-- --------------------------------------------------------------- -->
    <!--  Links -->
    <!-- --------------------------------------------------------------- -->
    <!-- <button mat-button [matMenuTriggerFor]="appsmenu" aria-label="Notifications">
      <div class="d-flex align-items-center">
        Apps <i-tabler name="chevron-down" class="icon-16 m-l-4"></i-tabler>
      </div>
    </button>
    <mat-menu #appsmenu="matMenu" class="apps-dd cardWithShadow">
      <div class="row">
        <div class="col-sm-8 b-r-1 p-r-0">
          <div class="p-32 p-b-0">
            <div class="row">
              @for(appdd of apps; track appdd.title) {
              <div class="col-sm-6 text-hover-primary">
                <a [routerLink]="[appdd.link]" class="d-flex align-items-center text-decoration-none m-b-24">
                  <span
                    class="text-primary bg-light-primary rounded icon-40 d-flex align-items-center justify-content-center">
                    <img [src]="appdd.img" width="20" />
                  </span>

                  <div class="m-l-16">
                    <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-12">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
          </div>
          <div class="b-t-1 p-24 d-none d-lg-flex align-items-center justify-content-between">
            <span class="d-flex align-items-center mat-subtitle-1 f-s-16 f-w-500">
              <i-tabler name="help" class="icon-20 m-r-8"></i-tabler>Frequently
              Asked Questions
            </span>
            <a [routerLink]="['/theme-pages/faq']" mat-flat-button color="primary">Check</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="p-x-16 p-y-32">
            <h4 class="f-s-18 f-w-600 mat-subtitle-1 m-b-16">Quick Links</h4>
            @for(quicklink of quicklinks; track quicklink.title) {
            <div class="text-hover-primary">
              <a [routerLink]="[quicklink.link]"
                class="hover-text text-decoration-none mat-body-1 f-w-600 d-block p-y-8">{{ quicklink.title | translate }}</a>
            </div>
            }
          </div>
        </div>
      </div>
    </mat-menu> -->
    <!-- <a mat-button [routerLink]="['/my-calendar']">{{ 'Calendar' | translate }}</a> -->
    <!-- <a mat-button [routerLink]="['/intranet']">Timeline</a> -->
    <!-- <a mat-button [routerLink]="['/apps/email/inbox']">Email</a> -->
  </div>

  <span class="flex-1-auto"></span>

  <!-- Mobile Menu -->
  <!-- <button mat-icon-button (click)="toggleMobileFilterNav.emit()" class="d-flex d-lg-none justify-content-center">
    <i-tabler name="grid-dots" class="icon-20 d-flex"></i-tabler>
  </button> -->

  <!-- --------------------------------------------------------------- -->
  <!-- langugage Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button [matMenuTriggerFor]="flags" mat-icon-button class="m-r-5">
    <img [src]="selectedLanguage.icon" class="rounded-circle object-cover icon-20" />
  </button>
  <mat-menu #flags="matMenu" class="cardWithShadow">
    @for(lang of languages; track lang.icon) {
    <button mat-menu-item (click)="changeLanguage(lang)">
      <div class="d-flex align-items-center">
        <img [src]="lang.icon" class="rounded-circle object-cover m-r-8 icon-20" />
        <span class="mat-subtitle-1 f-s-14">{{ lang.language }}</span>
      </div>
    </button>
    }
  </mat-menu>

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button [matMenuTriggerFor]="notificationmenu" aria-label="Notifications">
    @if(serverNotifications?.unread){
      <i-tabler class="d-flex" name="bell" [matBadge]="serverNotifications?.unread" matBadgeColor="warn"></i-tabler>
    }@else{
      <i-tabler class="d-flex" name="bell" matBadgeColor="primary"></i-tabler>
    }
  </button>
  <mat-menu #notificationmenu="matMenu" class="topbar-dd cardWithShadow notif-box">
    <div class="d-flex align-items-center p-x-32 p-y-16">
      <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">{{ 'Notifications' | translate }}</h6>
      <span class="m-l-auto d-flex gap-8 align-items-center">
        <span (click)="readAllNotifications()" class="readAllNotifs">{{'Read All' | translate }}</span>
        <span class="bg-primary text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">{{ serverNotifications?.unread }} <span class="m-l-4">{{ 'new' | translate }}</span> </span>
      </span>
    </div>
    <div class="notification-wrapper">
      @if(loading$ | async ){
        <app-loader></app-loader>
      }@else{
        @if(serverNotifications?.total === 0){
          <p class="p-y-24 text-center">{{ 'Oops! seems you don"t have any notification yet' | translate  }}</p>
        }@else{
          @for(notification of serverNotifications?.notifications; track notification._id) {
          <button mat-menu-item class="p-y-8" (click)="openNotification(notification)" [class.bg-light-accent]="notification.status === 'unread'" style="border-bottom: 1px solid rgb(235, 235, 235);">
            <div class="d-flex align-items-center">
              <div class="bg-light-primary d-flex align-items-center justify-content-center rounded-circle" style="height: 50px;width: 50px;aspect-ratio: 1/1;">
                <i-tabler [name]="getNotificationIcon(notification)"></i-tabler>
              </div>
              <div class="m-l-16">
                <h5 class="f-s-14 f-w-600 m-0 mat-subtitle-1">
                  {{ notification.title | translate  }}
                </h5>
                @if(notification.details){
                  <span>{{ notification.details }}</span>
                }
                <br>
                @if(notification.createdAt){
                  <span class="f-s-12 f-w-600" style="color: rgb(177, 177, 177);">{{ notification.createdAt | date : 'short' }}</span>
                }
              </div>
            </div>
          </button>
          }
        }
      }
    </div>

    <div class="p-y-12 p-x-32">
      <button mat-stroked-button color="primary" class="w-100" (click)="goToNotifications()">
        See all notifications
      </button>
    </div>
  </mat-menu>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="{{ imagesUrl }}/{{ currentUser?.image }}" class="rounded-circle object-cover icon-35 profile-dd" style="width: 35px;height: 35px;aspect-ratio: 1/1;" />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <ng-scrollbar class="position-relative" style="height: 647px">
      <div class="p-x-32 p-y-16">
        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">{{ 'User Profile' | translate }}</h6>
        @if(currentUser){
          <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
            <img src="{{ imagesUrl }}/{{ currentUser.image }}" class="rounded-circle" style="width: 95px;height: 95px;aspect-ratio: 1/1;" />
            <div class="m-l-16">
              <h6 class="f-s-14 f-w-600 m-0 mat-subtitle-1"> {{ currentUser.fullName }} </h6>
              <span class="f-s-14 d-block m-b-4">{{ currentUser!.roles[0] }}</span>
              <!-- <span class="d-flex align-items-center">
                <i-tabler name="mail" class="icon-15 m-r-4"></i-tabler>
                {{ currentUser.email }}
              </span> -->
              <!-- <span class="p-x-8 p-y-4 bg-light f-w-600 rounded-pill f-s-12 m-t-2">
                {{ currentUser.company.name }}
              </span> -->
            </div>
          </div>
        }
      </div>
      <div class="p-x-32">
        <!-- @for(profile of profiledd; track profile.title) {
        <a class="p-y-16 text-decoration-none d-block text-hover-primary" [routerLink]="[profile.link]">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="text-primary bg-light-primary shadow-none rounded">
              <img [src]="profile.img" width="20" />
            </button>

            <div class="m-l-16">
              <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
                {{ profile.title | translate }}
              </h5>
              <span class="mat-body-1">{{ profile.subtitle | translate }}</span>
            </div>
          </div>
        </a>
        } -->
        <!-- profile -->
        <a class="p-y-16 text-decoration-none d-block text-hover-primary" routerLink="/account/main">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="text-primary bg-light-primary shadow-none rounded">
              <img [src]="'/assets/images/svgs/icon-account.svg'" width="20" />
            </button>

            <div class="m-l-16">
              <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
                {{ 'My Profile' | translate }}
              </h5>
              <span class="mat-body-1">{{ 'Account Settings' | translate }}</span>
            </div>
          </div>
        </a>
        @if(currentUser!.roles[0] === "Engineer" || currentUser!.roles[0] === "Team Leader"){
          <a class="p-y-16 text-decoration-none d-block text-hover-primary" style="cursor: pointer;" (click)="swicthRole()">
            <div class="d-flex align-items-center">
              <button mat-mini-fab class="text-primary bg-light-primary shadow-none rounded">
                <img [src]="'/assets/images/svgs/icon-inbox.svg'" width="20" />
              </button>
  
              <div class="m-l-16">
                <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
                  {{ (currentUser!.roles[0] === 'Team Leader' ? 'Switch to Engineer' : 'Switch to Team Leader') | translate }}
                </h5>
                <!-- <span class="mat-body-1">{{ 'Account Settings' | translate }}</span> -->
              </div>
            </div>
          </a>
        }

        <!-- upgrade -->
        <!-- <div class="p-24 overflow-hidden bg-light-primary rounded position-relative m-y-16">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="f-s-18 m-0 f-w-600 m-b-12 mat-subtitle-1">
                Unlimited <br />
                Access
              </h5>
              <button mat-flat-button color="primary">Upgrade</button>
            </div>
            <div class="m-l-auto">
              <img
                src="/assets/images/backgrounds/unlimited-bg.png"
                alt="upgrade-bg"
                class="upgrade-bg"
              /></div>
          </div> 
      </div>-->
      </div>

      <div class="p-y-12 p-x-32">
        <a (click)="logout()" mat-stroked-button color="primary" class="w-100">{{ 'Logout' | translate }}</a>
      </div>
    </ng-scrollbar>
  </mat-menu>
</mat-toolbar>