<h5 mat-dialog-title>{{ 'Note project' | translate }}
</h5>

<mat-dialog-content style="max-width: 700px">
    <div class="row">
        <div class="col-12">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Global satisfaction' | translate }}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Did the project meet your expectations and needs ?' | translate }}</mat-label>
            <app-star-rating (rating)="handleRatingSubmit($event, 'q1')"></app-star-rating>
        </div>
        <div class="col-12">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Quality of Deliverables' | translate }}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Are the features or services delivered fully operational and reliable ?' | translate }}</mat-label>
            <app-star-rating (rating)="handleRatingSubmit($event, 'q2')"></app-star-rating>
        </div>
        <div class="col-12">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Respect of deadlines' | translate }}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Was the project delivered within the agreed time frame?' | translate }}</mat-label>
            <app-star-rating (rating)="handleRatingSubmit($event, 'q3')"></app-star-rating>
        </div>
        <div class="col-12">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Communication and Collaboration' | translate }}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Was the project team receptive to your feedback and suggestions ?' | translate }}</mat-label>
            <app-star-rating (rating)="handleRatingSubmit($event, 'q4')"></app-star-rating>
        </div>
        <div class="col-12">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Overall Experience' | translate }}</mat-label>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">{{ 'Is the overall level of satisfaction with the team and the project satisfactory ?' | translate }}</mat-label>
            <app-star-rating (rating)="handleRatingSubmit($event, 'q5')"></app-star-rating>
        </div>
        <div class="col-12">
            <button mat-flat-button color="primary" class="w-100" [disabled]="this.nq1 == null || this.nq2 == null || this.nq3 == null ||  this.nq4 == null || this.nq5 == null " (click)="submit()">
                {{ 'Submit' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>