.pdf{
    width: 40px;
    height: 40px;
    color: rgb(221, 92, 92);
    margin-left: 15px;
}
.pdfCert{
    width: 40px;
    height: 40px;
    color: rgb(25, 136, 138);
    margin-left: 15px;
}
.search{
    padding: 10px;
}
.text{
    width: 50%;
}