.error {
    color: red;
    font-size: 15px;
    margin-top: 0; /* Ensure there is no additional top margin on the error message */
}
// ::ng-deep .ng-select {
//     width: 100%;
// }

// ::ng-deep .ng-select .ng-select-container {
//     min-height: 38px;
//     border-radius: 0.25rem;
// }

// ::ng-deep .ng-select .ng-select-placeholder {
//     color: #6c757d;
//     font-size: 1rem;
// }
