.file-name:hover{
    color: #473eee98;
    text-decoration: wavy;
    font-weight: bold
}
.icon{
    font-size: 20px;
    color: red;
}
.file-link{
    text-decoration: none;
    color: #473eee98;
    // font-weight: bold;
    padding: 5px;
}

.file-link:hover{
    color: #237fb7;
    font-weight: bold;

}