<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">{{ title | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <apx-chart
        [series]="pieChartOptions.series"
        [chart]="pieChartOptions.chart"
        [dataLabels]="pieChartOptions.dataLabels"
        [plotOptions]="pieChartOptions.plotOptions"
        [legend]="pieChartOptions.legend"
        [colors]="pieChartOptions.colors"
        [tooltip]="pieChartOptions.tooltip"
        [labels]="pieChartOptions.labels"
      >
      </apx-chart>
    </mat-card-content>
  </mat-card>