<div class="auth-wrapper">
    <div class="auth-content container d-flex justify-content-center align-items-center min-vh-100">

        <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%; border-radius: 10px;">
            <div class="text-center mb-4 d-flex justify-content-center align-items-center gap-3">

                <img src="assets/logo/logoBlue.png" alt="Logo 1" class="img-fluid" width="120px">
            </div>
            <h5 class="text-center text-muted fw-bold mb-3">Forgot Password</h5>
            <p class="text-center text-muted">Enter your email to reset your password.</p>
            <form [formGroup]="form" (ngSubmit)="sendResetLink()">
                <!-- Email Input -->
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email address">
                    </div>
                    <div *ngIf="form.get('email').errors && form.get('email').touched" class="text-danger mt-1">
                        * Valid email is required.
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="isSubmitting">
                    <span *ngIf="!isSubmitting">Send Reset Link</span>
                    <i *ngIf="isSubmitting" class="pi pi-spinner pi-spin"></i>
                </button>
            </form>

            <!-- Back to Login -->
            <p class="text-center text-muted mt-3">
                <a [routerLink]="['/auth/signin']" class="fw-bold text-primary">Back to Login</a>
            </p>
        </div>
    </div>
</div>