<div id="main-search" class="main-search">
  <div class="input-group">
    <input type="text" id="m-search" class="form-control" placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}">
    <!-- <a href="javascript:" class="input-group-append search-close" (click)="searchOff()">
      <i class="feather icon-x input-group-text"></i>
    </a> -->

    <!-- Language switcher button -->
    <div class="input-group-append search-btn" (click)="toggleLanguage()">
      <img [src]="currentFlag" alt="Language Flag" class="language-flag">
      <span style="color: black;">{{ currentLanguage }}</span>
    </div>

    <!-- Language Dropdown -->
    <div *ngIf="languageDropdownVisible" class="dropdown-menu show">
      <button class="dropdown-item" (click)="changeLanguage('en')">
        <img src="assets/flags/en.png" alt="English Flag" class="language-flag">
        English
      </button>
      <button class="dropdown-item" (click)="changeLanguage('fr')">
        <img src="assets/flags/fr.png" alt="French Flag" class="language-flag">
        French
      </button>
      <!-- Add more languages as needed -->
    </div>
  </div>
</div>
